extends ../layouts/layout.pug

block content 
  a(href="/users/create") Create user
  form(action="/users/search" method="GET")
    input(type="text" name="q")
    button Search
  table.table 
    tr 
      th Avatar
      th Name 
      th Email
      th Password
    each user in users
      tr 
        td
          img.card-img-top(src=user.image, alt='Card image cap' width="32")
        td= user.email
        td= user.password
        td
          a(href=`/users/` + user.id) View

